@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --light-radial-gradient-center: theme('colors.blue.500 / 10%');
  --dark-radial-gradient-center: theme('colors.blue.500 / 40%');
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
 /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
}
}

